<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pytree Server</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            max-width: 1320px;
            width: 100%;
            margin-right: auto;
            margin-left: auto;
        }
    </style>
</head>
<body>
    <h1>Pytree Server</h1>
    <p>
        <a href="profile/get?minLOD=0&maxLOD=6&width=6&coordinates={2558950,1206060},{2561250,1206660}&pointCloud={{point_cloud}}" target=_blank>
            This example
        </a> 
        request should return a json header followed by a (binary) array buffer to use in GeoMapFish using following GET parameters:
    </p>
    <ul>
        <li>minLOD=0</li>
        <li>maxLOD=5</li>
        <li>width=10</li>
        <li>coordinates={2551900,1203475},{2555100,1206475}</li>
        <li>pointCloud=sitn2016</li>
        <li>attributes=%27</li>
    </ul>
</body>
</html>
