<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>potree Server</title>
    <script src="static/libs/js/jquery/jquery-3.1.1.js"></script>
    <script src="static/libs/js/d3/d3.js"></script>
    <script src="static/js/cpotreeProfileConfig.js"></script>
    <script src="static/js/cpotreeUtils.js"></script>
    <script src="static/js/cpotreeAttributes.js"></script>
    <script src="static/js/cpotreeProfileLoader.js"></script>
    <script src="static/js/cpotreeProfile.js"></script>
    <script src="static/js/cpotreeDataExport.js"></script>
    <script src="static/js/cpotreeMeasure.js"></script>
    <script src="static/js/cpotreeDem.js"></script>
    <script src="static/js/cpotreePngExport.js"></script>
    <script src="static/js/cpotreeDsmGenerator.js"></script>
    <link rel="stylesheet" href="static/css/pytree.css"/>
</head>

<body>
    <div id="header">
        <h1>Potree server</h1>
    </div>
    <div id="content">
        <br>
        <button onclick="getProfile('GET')">getProfile </button>
        <button onclick="getPointsInProfileAsCSV(profilePoints);">Export as CSV </button>
        <button onclick="exportToImageFile('png');">Export as PNG</button>
        <button onclick="startMeasure();">Start measure</button>
        <label for="demdsm"> Afficher le MNT/MNS:</label>
        <input style="width: 35px;" type="checkbox" id="demdsm">
        </input><label for="width"> Largeur:</label>
        <input style="width: 35px;" type="number" id="width" value=150></input>
        <label for="minLOD"> minLOD:</label>
        <input style="width: 35px;" type="number" id="minLOD" value=0></input>
        <label for="maxLOD"> maxLOD:</label>
        <input style="width: 35px;" type="number" id="maxLOD" value=5></input>
        <label for="returnType"> Return type:</label>
        <select id="material" onchange="changeStyle(this.value);">
            <option value="COLOR_PACKED" selected>COLOR_PACKED</option>
            <option value="INTENSITY">INTENSITY</option>
            <option value="CLASSIFICATION">CLASSIFICATION</option>
        </select>
        <label for="pointCloud"> pointCloud:</label>
        <input type="text" id="pointCloud" value="sitn2016"></input>
        <br>
        <label for="attributes"> Attributes:</label>
        <input type="text" id="attributes" value="" style="width: 600px;"></input>
        <br>
        <label for="coordinates">coordinates: </label>
        <input type="text" id="coordinates" style="width: 600px;" value="{2554505.0,1199955.0},{2556905.0,1203075.0},{2557705.0,1203845.0}"></input>
        <!-- <input type="text" id="coordinates" style="width: 600px;" value="{589500.0,231300.0},{590098.0,231565.0},{590098.0,231565.0}"></input> -->
        <div id="classes"></div>
    </div>
    <!-- d3js CANVAS (points) + SVG (axis) profile -->
    <div style="width: 100%;height: 30px; background-color:darkgray;" id="profileInfo"></div>
    <div style="width: 100%;height: 30px; background-color:darkgray;" id="height_measure"></div>
    <div id="profile_draw_container" style="width: 100%;  height: 400px;background-color: gray;position: relative;">
        <canvas id="profileCanvas" style="opacity:1"></canvas>
        <svg id="profileSVG" style="fill: #ffff00;position:absolute;left:0px;top:0px;"></svg>
    </div>
</body>
</html>
<script>
    // initialize profile
    pytreeServerUrl = '{{yaml_config_vars['vars']['server_url']}}';
    gmfServerUrl = '{{yaml_config_vars['vars']['gmf_url']}}';
    getProfileConfig(pytreeServerUrl);

    getProfile = function(method) {
        console.log("getProfile");
        var minLOD = parseInt($('#minLOD').val());
        var maxLOD = parseInt($('#maxLOD').val());
        for (var i=0; i<maxLOD; i++) {
            if (i < maxLOD - 1) {
                xhrRequest('GET', minLOD + i, minLOD + i + 1, i, $('#coordinates').val(), 0, true, false);
            } else {
                xhrRequest('GET', minLOD + i, minLOD + i + 1, i, $('#coordinates').val(), 0, true, true);
            }
        }
        let coordinates = [];
        let coord = getLinestring();
        for (var c in coord) {
            coordinates.push([coord[c].origX.toString(), coord[c].origY.toString()])
        }
        coordinates.push([coord[c].endX, coord[c].endY])
        if (d3.select('#demdsm').node().checked){
            getGmfProfile(100, coordinates, 0);
        }
    }

    getProfile('GET');


</script>
